# python 
*.pyc

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse files
.project
.cproject
.pydevproject
.settings
cmake_install.cmake

# Temporary files
*~

# Build Folders
build
bin
lib
srv_gen
msg_gen
*.cfgc

# Log files
log
*.log

ROS_NOBUILD

# Matlab msgs gen
matlab_gen

# CLion 
.idea/
cmake-build-debug/

src/rpg_single_board_io
src/rpg_quadrotor_common
src/rotors_simulator
src/catkin_simple
src/eigen_catkin
src/mav_comm
.catkin_tools
devel
build 
logs